extends layout

block content
  div(class='w3-container')
    div(class='w3-bar ')
      h2 DSA Fähigkeiten Druck
    h3 Zauberei
    a(class='w3-button w3-xlarge', href='/zauber') Sprüche
    a(class='w3-button w3-xlarge', href='/rituale') Rituale
    a(class='w3-button w3-xlarge', href='/tricks') Tricks
    h3 Litrugie
    a(class='w3-button w3-xlarge', href='/litrugien') Litrugien
    a(class='w3-button w3-xlarge', href='/segnungen') Segnungen
    a(class='w3-button w3-xlarge', href='/zeremonien') Zeremonien
